div.header {
  background-color: #1f2937;
}
.hero_main_text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.hero_secondary_text {
  font-size: 18px;
  color: #e5e7eb;
}
.header_logo_text {
  font-size: 24px;
  color: #f9faf8;
}
button {
  background-color: #3382f6;
  color: #f9faf8;
}
.information_header_text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.quote_section_ {
  background-color: #e5e7eb;
}
.quote_text {
  font-size: 36px;
  font-weight: light;
  color: #1f2937;
}
